<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="aboutstyle.css">
    <link rel="stylesheet" href="aboutresponsive.css">
    <title>About Us</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="part1"><div class="logo">
                <img src="./images/logo.png" alt="/">
            </div></div>
            <div class="part2">
                <ul>
                    <li id="#"><a href="/">HOME</li></a>
                    <li id="#"><a href="#team">CONTACT</li></a>
                </ul>
            </div>
        </div>
        <div class="text1">
            <p>CORPORATE EVENTS</p> 
        </div>
    </div>
    <div class="page">
        <div class="heading">
            <h2>A Modern event Planner's Approach</h2>
        </div>
        <div class="txt">
            <p></p>
        </div>
        <div class="tile1">
            <div class="eventimg">
                <img src="./image/pic-20.jpg" alt="\">
            </div>
            <div class="eventtxt">
                <li><span>Corporate Events:</span> This category includes conferences, seminars, trade shows, product launches, corporate meetings, team-building activities, and corporate retreats.</li>
                <li>Elevate your corporate events with seamless planning and execution. Our event handling experts ensure a flawless experience, from conferences to team-building retreats. Let us take care of every detail, so you can focus on what matters most – your business goals. Make your corporate events unforgettable with us..</li>
            </div>
        </div>
        <div class="services" id="Services">
            <a href="#tile1">
            <div class="events">
                <div class="servicesimg">
                    <img src="./image/pic-1.jpg" alt="\">
                </div>

            </div>
        </a>
        <a href="#tile2">
            <div class="events">
                <div class="servicesimg">
                    <img src="./image/pic-2.jpg" alt="\">
                </div>

            </div>
        </a>
            <a href="#tile3">
            <div class="events">
                <div class="servicesimg">
                    <img src="./image/pic-3.jpeg" alt="\">
                </div>

            </div>
        </a>
            <a href="#tile4">
            <div class="events">
                <div class="servicesimg">
                    <img src="./image/pic-4.jpg" alt="\">
                </div>

            </div>
        </a>
        </div>

        <div class="team-1" id="team">
            <div class="heading">
                <h2>PACKAGES</h2>
            </div>
            <div class="member">
                <div class="img-1">
                </div><form method="post" action="/corporate_premium">
                <div class="details-1">
                    <h4>PREMIUM </h4>
                    <p style="color: black;">CAPACITY:</p>
                    <p><ul><li>upto 500 Attendees</li></ul></p>
                    <p style="color: black;">PRICE:</p>
                    <p><ul><li>INR 3,50,000</li></ul></p>
                    <p style="color: black;">DESCRIPTION:</p>
                    <p><ul>
                        <li>Exclusive venue selection in prime locations</li>
                        <li>VIP seating arrangements and executive lounge access</li>
                        <li>Full-service event planning and coordination</li>
                        <li>High-end catering and gourmet menu options</li></ul>
                    </p>
                    <p style="color: black;">CANCELLATION AND REFUND POLICIES:</p>
                    <p>
                    <ul>
                    <li>refund available if canceled 60 days before the event</li>
                    <li>50% refund if canceled 30 days before the event</li>
                    <li>No refund within 30 days of the event</li>
                    </ul>
                    </p>
                    <button class="btn" type="submit">Proceed To Pay</button>
                </div>
            </form>
            </div>
            <div class="member">
                <div class="img-2">
                </div><form method="post" action="/corporate_standard">
                <div class="details-1">
                    <h4>STANDARD</h4>
                    <p style="color: black;">CAPACITY:</p>
                    <p><ul><li>upto 300 Attendees</li></ul></p>
                    <p style="color: black;">PRICE:</p>
                    <p><ul><li>INR 2,50,000</li></ul></p>
                    <p style="color: black;">DESCRIPTION:</p>
                    <p><ul>
                        <li>Select venue options with professional ambiance</li>
                        <li>Comprehensive event planning assistance</li>
                        <li>Priority seating arrangements</li>
                        <li>Standard branding opportunities</li></ul>
                    </p>
                    <p style="color: black;">CANCELLATION AND REFUND POLICIES:</p>
                    <p>
                    <ul>
                    <li>Full refund available if canceled 45 days before the event</li>
                    <li>50% refund if canceled 15 days before the event</li>
                    <li>No refund within 15 days of the event</li>
                    </ul>
                    </p>
                    <button class="btn" type="submit">Proceed To Pay</button>
                </div>
            </form>
            </div><form method="post" action="/corporate_basic">
            <div class="member">
                <div class="img-3">
                </div>
                <div class="details-1">
                    <h4>BASIC</h4>
                    <p style="color: black;">CAPACITY:</p>
                    <p><ul><li>upto 150 Attendees</li></ul></p>
                    <p style="color: black;">PRICE:</p>
                    <p><ul><li>INR 1,50,000</li></ul></p>
                    <p style="color: black;">DESCRIPTION:</p>
                    <p><ul>
                        <li>Standard venue options suitable for corporate events</li>
                        <li>Basic event planning support</li>
                        <li>Standard catering options</li>
                        <li>General seating arrangements</li></ul>
                    </p>
                    <p style="color: black;">CANCELLATION AND REFUND POLICIES:</p>
                    <p>
                    <ul>
                    <li>Full refund available if canceled 30 days before the event</li>
                    <li>50% refund if canceled 10 days before the event</li>
                    <li>No refund within 10 days of the event</li>
                    </ul>
                    </p>
                    <button class="btn" type="submit">Proceed To Pay</button>
                </div>
            </div>
        </form>
        </div>
</body>
</html>