<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="aboutstyle.css">
    <link rel="stylesheet" href="aboutresponsive.css">
    <title>About Us</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="part1"><div class="logo">
                <img src="./images/logo.png" alt="/">
            </div></div>
            <div class="part2">
                <ul>
                    <li id="#"><a href="/">HOME</li></a>
                    <li id="#"><a href="#team">CONTACT</li></a>
                </ul>
            </div>
        </div>
        <div class="text1">
            <p>PARTIES</p> 
        </div>
    </div>
    <div class="page">
        <div class="heading">
            <h2>A Modern event Planner's Approach</h2>
        </div>
        <div class="txt">
            <p></p>
        </div>
        <div class="tile1">
            <div class="eventimg">
                <img src="./image/pic-19.jpg" alt="\">
            </div>
            <div class="eventtxt">
                <li><span>PARTIES:</span> Handling a party event involves meticulous planning and execution to ensure a seamless and enjoyable experience. Key aspects include venue selection, theme creation, catering coordination, and entertainment arrangements. </li>
                <li>Managing invitations, RSVPs, and logistics is crucial for a smooth event flow. Attention to detail in decoration, lighting, and audio-visual setups enhances the ambiance. Efficient communication and a proactive approach help address unforeseen challenges.....</li>
            </div>
        </div>
        <div class="services" id="Services">
            <a href="#tile1">
            <div class="events">
                <div class="servicesimg">
                    <img src="./image/pic-16.jpg" alt="\">
                </div>

            </div>
        </a>
        <a href="#tile2">
            <div class="events">
                <div class="servicesimg">
                    <img src="./image/pic-15.jpg" alt="\">
                </div>

            </div>
        </a>
            <a href="#tile3">
            <div class="events">
                <div class="servicesimg">
                    <img src="./image/pic-17.jpg" alt="\">
                </div>

            </div>
        </a>
            <a href="#tile4">
            <div class="events">
                <div class="servicesimg">
                    <img src="./image/pic-14.jpg" alt="\">
                </div>

            </div>
        </a>
        </div>

        <div class="team-1" id="team">
            <div class="heading">
                <h2>PACKAGES</h2>
            </div>
            <form method="post" action="/party_premium">
            <div class="member">
                <div class="img-1">
                </div>
                <div class="details-1">
                    <h4>PREMIUM </h4>
                    <p style="color: black;">CAPACITY:</p>
                    <p><ul><li>upto 500 Attendees</li></ul></p>
                    <p style="color: black;">PRICE:</p>
                    <p><ul><li>INR 7,00,000 - INR 10,00,000</li></ul></p>
                    <p style="color: black;">DESCRIPTION:</p>
                    <p><ul>
                        <li>High-end catering and gourmet menu options</li>
                        <li>Exclusive venue selection in prime locations</li>
                        <li>VIP seating arrangements and executive lounge access</li>
                        <li>Custom branding opportunities</li>
                        </ul>
                    </p>
                    <p style="color: black;">CANCELLATION AND REFUND POLICIES:</p>
                    <p>
                    <ul>
                    <li>refund available if canceled 60 days before the event</li>
                    <li>50% refund if canceled 30 days before the event</li>
                    <li>No refund within 30 days of the event</li>
                    </ul>
                    </p>
                    <button class="btn" type="submit">Proceed To Pay</button>
                </div>
            </div>
        </form>
        <form method="post" action="/party_standard">
            <div class="member">
                <div class="img-2">
                </div>
                <div class="details-1">
                    <h4>STANDARD</h4>
                    <p style="color: black;">CAPACITY:</p>
                    <p><ul><li>upto 300 Attendees</li></ul></p>
                    <p style="color: black;">PRICE:</p>
                    <p><ul><li>INR 3,50,000 -INR 6,00,000</li></ul></p>
                    <p style="color: black;">DESCRIPTION:</p>
                    <p><ul>
                        <li>Standard branding opportunities</li>
                        <li>Select venue options with professional ambiance</li>
                        <li>Comprehensive event planning assistance</li>
                        <li>Priority seating arrangements</li>
                        </ul>
                    </p>
                    <p style="color: black;">CANCELLATION AND REFUND POLICIES:</p>
                    <p>
                    <ul>
                    <li>Full refund available if canceled 45 days before the event</li>
                    <li>50% refund if canceled 15 days before the event</li>
                    <li>No refund within 15 days of the event</li>
                    </ul>
                    </p>
                    <button class="btn" type="submit">Proceed To Pay</button>
                </div>
            </div>
        </form>
        <form method="post" action="/party_basic">
            <div class="member">
                <div class="img-3">
                </div>
                <div class="details-1">
                    <h4>BASIC</h4>
                    <p style="color: black;">CAPACITY:</p>
                    <p><ul><li>upto 150 Attendees</li></ul></p>
                    <p style="color: black;">PRICE:</p>
                    <p><ul><li>INR 1,00,000 - INR 2,50,000</li></ul></p>
                    <p style="color: black;">DESCRIPTION:</p>
                    <p><ul>
                        <li>Standard catering options</li>
                        <li>Standard venue options suitable for corporate events</li>
                        <li>General seating arrangements</li>
                        <li>Basic event planning support</li>
                    </ul>
                    </p>
                    <p style="color: black;">CANCELLATION AND REFUND POLICIES:</p>
                    <p>
                    <ul>
                    <li>Full refund available if canceled 30 days before the event</li>
                    <li>50% refund if canceled 10 days before the event</li>
                    <li>No refund within 10 days of the event</li>
                    </ul>
                    </p>
                    <button class="btn" type="submit">Proceed To Pay</button>
                </div>
            </div>
        </form>
        </div>
</body>
</html>